<footer class="footer">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="/user/assets/images/DivineStyle.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>Your ultimate fashion destination for exquisite casual, formal, ethnic, and party wear. Discover and order your perfect outfit for any occasion with ease.</p>

                        <div class="social-icons" hidden>
                            <a href="" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                            <a href="" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                            <a href="" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                            <a href="" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                            <a href="" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/aboutUs">About Divine Styles</a></li>
                            <li><a href="/contactUs">Contact us</a></li>
                            <li><a href="/allProducts">Shop</a></li>
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/register">Sign Up</a></li>

                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li>Many Payment Methods</li>
                            <li>Money-back guarantee!</li>
                            <li>Returns available</li>
                            <li>Shipping available</li>
                            <li>Terms and conditions apply</li>
                            <li>Privacy Policy</li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="/cart">View Cart</a></li>
                            <li><a href="/wishlist">My Wishlist</a></li>
                            <li><a href="/userProfile">Track My Order</a></li>
                         </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom" hidden>
        <div class="container">
            <p class="footer-copyright">Copyright © 2024 DivineStyle. All Rights Reserved.</p><!-- End .footer-copyright -->
            <figure class="footer-payments">
                <img src="/user/assets/images/payments.png" alt="Payment methods" width="272" height="20">
            </figure><!-- End .footer-payments -->
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


